{{ define "footer" }}
<footer class="footer">
    <div class="footer__content">
        <div class="footer__copyright">
            <p>Copyright &copy; 2023</p>
        </div>
        <div class="footer__loadTime">
            <p>browser loadTime: <span id="footer__loadTime_value">?</span></p>
            <p>server loadTime: <span>{{ .ServerLoadTime }}</span></p>
        </div>
        <div class="footer__contacts" id="footer__contacts">
            <a href="https://t.me/confleux" class="footer__contacts_link">@confleux</a>
        </div>
    </div>
</footer>
{{ end }}
