{{ define "header" }}
<header class="header">
    <div class="main_container">
        <div class="header__content">
            <div class="header__logo">confleux</div>
            <nav class="header__nav" id="header__nav">
                <ul class="header__nav_ul">
                    <li class="header__nav_li"><a href="/" class="header__nav_link">Main</a></li>
                    <li class="header__nav_li"><a href="form" class="header__nav_link">Form</a></li>
                    <li class="header__nav_li"><a href="todo" class="header__nav_link">Todo</a></li>
                    <li class="header__nav_li"><a href="#footer__contacts" class="header__nav_link">Contacts</a></li>
                    <li class="header__nav_li"><a href="#dead_inside_monke" class="header__nav_link">Something else?</a></li>
                </ul>
            </nav>
        </div>
    </div>
</header>
{{ end }}
