{{ define "login" }}

<html lang="ru">
<head>
  <meta charset="UTF-8">
  <title>confleux</title>
  <link rel="stylesheet" href="../src/style/style.css">
  <link href="https://fonts.googleapis.com/css?family=Open Sans" rel="stylesheet">
  <!-- Firebase SDK -->
  <script src="https://www.gstatic.com/firebasejs/9.0.2/firebase-app-compat.js"></script>
  <script src="https://www.gstatic.com/firebasejs/9.0.2/firebase-auth-compat.js"></script>
  <script src="../src/script/loadTime.js"></script>
  <script src="../src/script/location.js"></script>
  <script src="../src/script/firebase.js"></script>
  <script src="../src/script/logout.js"></script>
  <script src="../src/script/login.js" type="module"></script>
</head>

<body>

{{ template "header" . }}
{{ template "login_body" . }}
{{ template "footer" . }}

</body>
</html>

{{ end }}
