{{ define "todo_body" }}

<main class="main">
    <div class="main_container">
        <h1>Todo list</h1>
        <section class="main__section">
            <div class="main__section_table" id="main__section_table">
                <table>
                    <thead id="main__section_table_head">
                    </thead>
                    <tbody id="main__section_table_body">
                    </tbody>
                </table>
            </div>
        </section>
        <div class="main__section_messages" id="main__section_messages"></div>
    </div>
</main>

{{ end }}
